<!--The content below is only a placeholder and can be replaced.-->
<div class="container background-styling">
    <div>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">{{pageTitle}}</a>
          </div>
          <ul class="nav navbar-nav">          
            <li><a [routerLink]="['/employeeList']">List</a></li>
            <li><a [routerLink]="['/employeeAdd']">Add New</a></li>
          </ul>
          <form class="navbar-form navbar-right" action="/action_page.php">
            <div class="form-group">
              <app-employee-search></app-employee-search>
            </div>           
          </form>
          <!-- <app-employee-search></app-employee-search> -->
        </div>
      </nav>
  
  
      <div class='container'>
        <router-outlet></router-outlet>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>